<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Need)</span></div>

## 1 Some Python Basics

### 1.1 Functions

In [1]:
print('Hello world!')

Hello world!

In [2]:
print("this is how you'd add text with apostrophe")

this is how you'd add text with apostrophe

In [3]:
print('this won't work')

SyntaxError: unterminated string literal (detected at line 1) (1360628873.py, line 1)

### 1.2 Python is interpreted

In [4]:
print('Hello World')
print('Hello World again')

Hello World
Hello World again

### 1.3 Python is sensitive.

In [5]:
Print('cool')

NameError: name 'Print' is not defined

### 1.4 Comments

In [6]:
# This is to inform you that sudoku is fun
print('i love sudoku')

i love sudoku

### 1.5 = is not the same as ==

In [16]:
true = 'False'
true == 'False'

True

### 1.6 Use if to make decisions

In [13]:
name = 'Batman'

if name == 'Batman':
    print('Hello Hero | Batman!')
else:
    print('Hello World!')

Hello Hero | Batman!

In [15]:
colour = 'purple'
if colour == 'purple':
    print('Barney is a purple dinosaur')
else:
    print('idk')

Barney is a purple dinosaur

### 1.7 Indentations (spaces) are sooo IMPORTANT!

In [17]:
x = 73
print(x)

73

### 1.8 ‘age’ is English, age is a variable.

In [19]:
age = 58
print(age) # number will be printed
print('age') # word 'age' will be printed

58
age

### 1.9 Escape sequences

In [21]:
print('It\'s possible to type apostrophes without double quotations')

It's possible to type apostrophes without double quotations

In [22]:
print('what\'s this \\help')

what's this \help

In [24]:
print('hello \nmy name is nuwairah \tnice to meet you')

hello
my name is nuwairah 	nice to meet you

### 1.10 Brackets

In [25]:
print('Hello friends!')             # In functions

Hello friends!

In [27]:
(1 + 2) * 7                 # For math

21

In [47]:
py_list = [1, 2, 3, 4, 5]   # A 1D list

py_list_2 = [[1, "A, X, Y, Z"],      # A 2D list
             [2, "Q, W, E, R"],
             [3, "C"],
             [4, "D"],
             [5, "E"]]
print(py_list)
print(py_list_2[0])
print(py_list_2[1])

# in list_2, the first element is 0

[1, 2, 3, 4, 5]
[1, 'A, X, Y, Z']
[2, 'Q, W, E, R']

In [52]:
personal_info = {
    'Names': 'Batman',
    'Real Name': 'Bata man',
    'Age': 55,
    'Affiliation': 'Shoes',
    'Universe': 'SG'
}
print(personal_info['Real Name'])

Bata man

In [51]:
personal_info = {
    'Names': 'pikachu',
    'Real Name': 'not pikachu',
    'Age': 6,
    'Affiliation': 'idk',
    'Universe': 'pokemon'
}
print(personal_info['Universe'])

pokemon

## 2 Giving Python superpowers

### 2.1 Packages

In [54]:
1 * ((2 - 3) + 4) ** 5 / 6 
#** for power, ^ cannot use

40.5

In [55]:
import math         # Adding(importing) the functions
                    # of the 'math' package

In [57]:
math.sqrt(4)

2.0

In [59]:
math.sqrt(647)

25.436194683953808

In [60]:
import numpy as np    # Importing Numpy and giving it an alias np
                      # because I am lazy

In [65]:
np.sqrt(64)

8.0

In [66]:
np.sqrt([4, 9, 16])

array([2., 3., 4.])

### 2.2 The dot (.)

In [81]:
print(math. sqrt (81),
np. sqrt (4))
# without print, jupyter would only give the last answer

9.0 2.0

In [82]:
math. sqrt (4)
np. sqrt (4)

2.0

In [68]:
"I am Batman".split()

['I', 'am', 'Batman']

In [72]:
"1 2 3 4".split()

['1', '2', '3', '4']

In [83]:
"1234".split()

['1234']

## Exercise 1 :  Total recall?

import (packaging)
split function
print function
sqrt
** for power
py_list for 1D
py_list_2 for 2D
. for ownership
() for function
{} store information
\t horizontal tab, \n new line, \ escape, \\ backslash

## Exercise 2 :  Debug me

In [87]:
x, y = 3, 4
z = math.sqrt(x*2 + y**2)
print(x, y, z)

3 4 4.69041575982343

## Exercise 3 :  In your own words

1. Function: performs a specific task
1. Argument: placed in () of a function for it to be coded
1. Comments: your own notes, will be ignored by the interpreter
1. Indentations: important spaces for code to run smoothly 
1. Packages: increase python functionality
1. . : indicates function ownership

## Exercise 4 :  More than one way to divide

In [88]:
5/2           # Exact value

2.5

In [89]:
5//2          # rounded down value (quotient)

2

In [91]:
5%2           # remainder value

1